<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('header.ejs')%>
</head>
<body>
    <%-include('layout.ejs')%>
    <div class='col-sm-0'>
    <h1>Genre: <%= genre.name %></h1>

    <% if (genre_books.length > 0) { %>
      <h4>Books in this genre:</h4>
      <ul>
        <% genre_books.forEach(function(book) { %>
          <li><a href="<%= book.url %>"><%= book.title %></a> - <%= book.summary %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>This genre has no associated books.</p>
    <% } %>
  
    <a href="/catalog/genre/<%= genre._id %>/update" class="btn btn-primary">Update</a>
    <form action="/catalog/genre/<%= genre._id %>/delete" method="GET" style="display:inline;">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  
    <a href="/catalog/genres" class="btn btn-secondary">Back to list</a>
</div>
</body>
</html>