<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs') %>
</head>
<body>
    <%- include('layout.ejs') %>
    
        <div class="col-sm-10">
            <h1><%= title %></h1>
            <% if (genre_list.length) { %>
              <ul>
                <% genre_list.forEach(function(genre) { %>
                  <li>
                    <a href="<%= genre.url %>"><%= genre.name %></a>

                  </li>
                <% }); %>
              </ul>
            <% } else { %>
              <p>There are no books.</p>
            <% } %>

        </div>
    
</body>
</html>